In [2]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [3]:
#Links
isbns = '9780143036555'
links = [isbns]

In [44]:
#Extract Power tool data

executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

bn_pandas_df = pd.DataFrame([])

for x in links:
    url = (f'https://www.barnesandnoble.com/w/collapse-jared-diamond/1102810948?ean='+x)
    browser.visit(url)
    for y in range(1):
        # HTML object
        html = browser.html
        # Parse HTML with Beautiful Soup
        soup = BeautifulSoup(html, 'html.parser')
        # Retrieve all elements that contain book information
        price = soup.find('span',class_='price current-price ml-0').text

        # Iterate through each book
        bn_pandas_df = bn_pandas_df.append(pd.DataFrame({'ISBN':x,'Price': price}, index=[0]), ignore_index=True)

bn_pandas_df['Price']=bn_pandas_df['Price'].str.replace('$','')
bn_pandas_df.head()

            ISBN  Price
0  9780143036555  13.50

In [41]:
bn_pandas_df

0    $13.50
Name: Price, dtype: object

In [16]:
#alibris_pandas_df.to_csv(r"/Alibris.csv")