In [1]:
#Dependencies
import pandas as pd

In [3]:
#Dummy data
vendor1 = pd.DataFrame({"vendor" : ["Amazon", "Amazon", "Amazon"], 
                        "title" : ["Hairy Potter 1", "Hairy Potter 2", "Hairy Potter 3"], 
                        "isbn":[1,2,3], 
                        "price": [10,20,30]})

vendor1 = pd.DataFrame({"vendor" : ["Amazon", "Amazon", "Amazon"], 
                        "title" : ["Hairy Potter 1", "Hairy Potter 2", "Hairy Potter 3"], 
                        "isbn":[1,2,3], 
                        "price": [10,20,30]})

for x in

   vendor           title  isbn  price
0  Amazon  Hairy Potter 1     1     10
1  Amazon  Hairy Potter 2     2     20
2  Amazon  Hairy Potter 3     3     30